In [48]:
#dependencies 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [49]:
clean_data_path = "../cleaned_data/Electric_Vehicle_Population_Size_History_By_County_Cleaned.csv"

In [50]:
clean_full_data = pd.read_csv(clean_data_path)

In [51]:
clean_full_data.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,January 31 2017,Juneau,AK,Passenger,0,1,1,49,50,2.00
1,January 31 2017,Dale,AL,Passenger,0,1,1,71,72,1.39
2,January 31 2017,Russell,AL,Passenger,1,0,1,53,54,1.85
3,January 31 2017,Maricopa,AZ,Passenger,2,0,2,1774,1776,0.11
4,January 31 2017,Pima,AZ,Passenger,0,1,1,439,440,0.23

In [ ]:
#create add new column, take out

In [8]:
# Change date format
clean_full_data["Date (formatted)"] = pd.to_datetime(clean_full_data["Date"],format="%B %d %Y")

# Group data by date, then summarise columns of interest
date_data_EV_count = clean_full_data.groupby("Date (formatted)")["Electric Vehicle (EV) Total"].sum()
date_data_total_count = clean_full_data.groupby("Date (formatted)")["Total Vehicles"].sum()
date_data_percent = (date_data_EV_count / date_data_total_count)*100
date_data_percent = date_data_percent.map("{:.2f}".format)

# Assemble columns into dataframe
date_data = pd.DataFrame(
    {"Total Electric Vehicle (EV)": date_data_EV_count,
     "Total Vehicles": date_data_total_count,
     "Percent Electric Vehicles": date_data_percent
    }
)

# Display data
date_data

,Total Electric Vehicle (EV),Total Vehicles,Percent Electric Vehicles
Date (formatted),,,
2017-01-31,22743,6053442,0.38
2017-02-28,23466,6053997,0.39
2017-03-31,24184,6065934,0.40
2017-04-30,24995,6071668,0.41
2017-05-31,25716,6082175,0.42
2017-06-30,26487,6093918,0.43
2017-07-31,27185,6098438,0.45
2017-08-31,27848,6110573,0.46
2017-09-30,28572,6122029,0.47
2017-10-31,29401,6132961,0.48
2017-11-30,30063,6142714,0.49
2017-12-31,30681,6150316,0.50
2018-01-31,31673,6161017,0.51
2018-02-28,32221,6154651,0.52
2018-03-31,32999,6161785,0.54
2018-04-30,33871,6170190,0.55
2018-05-31,35034,6180354,0.57
2018-06-30,36131,6191694,0.58
2018-07-31,36932,6199992,0.60
2018-08-31,37804,6209988,0.61
2018-09-30,38721,6217571,0.62
2018-10-31,40450,6232538,0.65
2018-11-30,42082,6243679,0.67
2018-12-31,43370,6249760,0.69
2019-01-31,45153,6261209,0.72
2019-02-28,45896,6256484,0.73
2019-03-31,46366,6259507,0.74
2019-04-30,47613,6272637,0.76
2019-05-31,48579,6286042,0.77
2019-06-30,49645,6294229,0.79
2019-07-31,50879,6306969,0.81
2019-08-31,51829,6313763,0.82
2019-09-30,52832,6322170,0.84
2019-10-31,54705,6334755,0.86
2019-11-30,55348,6338727,0.87
2019-12-31,56193,6343264,0.89
2020-01-31,58422,6359453,0.92
2020-02-29,59013,6360058,0.93
2020-03-31,59904,6353607,0.94
2020-04-30,60246,6321842,0.95
2020-05-31,60255,6298378,0.96
2020-06-30,60633,6302060,0.96
2020-07-31,62128,6310418,0.98
2020-08-31,62871,6312113,1.00
2020-09-30,63618,6318428,1.01
2020-10-31,64847,6323876,1.03
2020-11-30,66350,6323152,1.05
2020-12-31,67365,6327151,1.06
2021-01-31,69147,6321254,1.09
2021-02-28,70246,6313263,1.11
2021-03-31,71339,6315930,1.13
2021-04-30,73586,6330181,1.16
2021-05-31,75120,6316916,1.19
2021-06-30,76653,6302612,1.22
2021-07-31,78957,6279623,1.26
2021-08-31,80710,6245310,1.29
2021-09-30,81699,6201382,1.32
2021-10-31,83054,6114786,1.36

In [52]:
#creating new columns for just "years"
date_data["Year"] = date_data.index.year
date_data

,Total Electric Vehicle (EV),Total Vehicles,Percent Electric Vehicles,Year
Date (formatted),,,,
2017-01-31,22743,6053442,0.38,2017
2017-02-28,23466,6053997,0.39,2017
2017-03-31,24184,6065934,0.40,2017
2017-04-30,24995,6071668,0.41,2017
2017-05-31,25716,6082175,0.42,2017
2017-06-30,26487,6093918,0.43,2017
2017-07-31,27185,6098438,0.45,2017
2017-08-31,27848,6110573,0.46,2017
2017-09-30,28572,6122029,0.47,2017
2017-10-31,29401,6132961,0.48,2017
2017-11-30,30063,6142714,0.49,2017
2017-12-31,30681,6150316,0.50,2017
2018-01-31,31673,6161017,0.51,2018
2018-02-28,32221,6154651,0.52,2018
2018-03-31,32999,6161785,0.54,2018
2018-04-30,33871,6170190,0.55,2018
2018-05-31,35034,6180354,0.57,2018
2018-06-30,36131,6191694,0.58,2018
2018-07-31,36932,6199992,0.60,2018
2018-08-31,37804,6209988,0.61,2018
2018-09-30,38721,6217571,0.62,2018
2018-10-31,40450,6232538,0.65,2018
2018-11-30,42082,6243679,0.67,2018
2018-12-31,43370,6249760,0.69,2018
2019-01-31,45153,6261209,0.72,2019
2019-02-28,45896,6256484,0.73,2019
2019-03-31,46366,6259507,0.74,2019
2019-04-30,47613,6272637,0.76,2019
2019-05-31,48579,6286042,0.77,2019
2019-06-30,49645,6294229,0.79,2019
2019-07-31,50879,6306969,0.81,2019
2019-08-31,51829,6313763,0.82,2019
2019-09-30,52832,6322170,0.84,2019
2019-10-31,54705,6334755,0.86,2019
2019-11-30,55348,6338727,0.87,2019
2019-12-31,56193,6343264,0.89,2019
2020-01-31,58422,6359453,0.92,2020
2020-02-29,59013,6360058,0.93,2020
2020-03-31,59904,6353607,0.94,2020
2020-04-30,60246,6321842,0.95,2020
2020-05-31,60255,6298378,0.96,2020
2020-06-30,60633,6302060,0.96,2020
2020-07-31,62128,6310418,0.98,2020
2020-08-31,62871,6312113,1.00,2020
2020-09-30,63618,6318428,1.01,2020
2020-10-31,64847,6323876,1.03,2020
2020-11-30,66350,6323152,1.05,2020
2020-12-31,67365,6327151,1.06,2020
2021-01-31,69147,6321254,1.09,2021
2021-02-28,70246,6313263,1.11,2021
2021-03-31,71339,6315930,1.13,2021
2021-04-30,73586,6330181,1.16,2021
2021-05-31,75120,6316916,1.19,2021
2021-06-30,76653,6302612,1.22,2021
2021-07-31,78957,6279623,1.26,2021
2021-08-31,80710,6245310,1.29,2021
2021-09-30,81699,6201382,1.32,2021
2021-10-31,83054,6114786,1.36,2021

In [53]:
yearly_data = date_data.groupby('Year').sum()
yearly_data

      Total Electric Vehicle (EV)  Total Vehicles
Year
2017                       321341        73178165
2018                       441288        74373219
2019                       605038        75589756
2020                       745652        75910536
2021                       760511        62741257

In [54]:
#Yearly increase in electric vehilcle and total vehicles 
Percentage_change_data = yearly_data.pct_change()
Percentage_change_data

      Total Electric Vehicle (EV)  Total Vehicles
Year
2017                          NaN             NaN
2018                     0.373270        0.016331
2019                     0.371073        0.016357
2020                     0.232405        0.004244
2021                     0.019928       -0.173484

In [55]:
#yearly percentage of electric vehicles column creation
percent_elec_veh = (yearly_data['Total Electric Vehicle (EV)']/ yearly_data['Total Vehicles']) * 100
percent_elec_veh

Year
2017    0.439121
2018    0.593343
2019    0.800423
2020    0.982277
2021    1.212139
dtype: float64

In [56]:
yearly_data ["Share of EV "] = percent_elec_veh
yearly_data

      Total Electric Vehicle (EV)  Total Vehicles  Share of EV
Year
2017                       321341        73178165      0.439121
2018                       441288        74373219      0.593343
2019                       605038        75589756      0.800423
2020                       745652        75910536      0.982277
2021                       760511        62741257      1.212139